Source: varnishncsa-vhost
Section: web
Priority: optional
Maintainer: Joenio Costa <joenio@colivre.coop.br>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: perl
Standards-Version: 3.9.4
Vcs-Git: http://github.com/joenio/varnishncsa-vhost.git
Vcs-Browser: http://github.com/joenio/varnishncsa-vhost
Homepage: http://github.com/joenio/varnishncsa-vhost

Package: varnishncsa-vhost
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, varnish, libproc-daemon-perl
Description: Wrapper around 'varnishncsa' tool to save varnish logs with virtualhost
 This simple script uses varnishncsa tool to provide a way to store varnish logs
 with vhost, cause varnish by default until version 2.1.5 not allow to customize
 log formats.
